/* You can add global styles to this file, and also import other style files */

//#region TABLAS
.table_length_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    div {
        display: flex;
        align-items: center;
        padding: 0 !important;
        & > div {
            margin-right: 50px !important;
        }
    }
    label {
        margin-bottom: 0;
    }
}

.dataTables_wrapper {
    overflow-x: auto;
    margin-top: 20px;

    table.dataTable {
        width: 100% !important;
    }
    table.dataTable thead th {
        padding: 10px !important;
        padding-bottom: 18px !important;
        border-bottom: 1px solid transparent !important;
        font-size: 14px;
        color: #0f1535;

        table.dataTable thead td {
            border: none !important;
            text-align: start;
            color: #0f1535;
        }
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 14px 10px !important;
        border-top: 1px solid #e7eef8 !important;
        font-weight: 300;
    }

    table.dataTable tfoot {
        background-color: rgb(248, 248, 248);

        th {
            padding: 0 !important;
            height: 40px;
            border: none;

            input {
                width: calc(100% - 24px) !important;
                height: 100% !important;
                border: none !important;
                text-transform: uppercase !important;
                padding-left: 10px;
                background-color: transparent;
                font-weight: 700;
                color: #1a265f;

                &:focus {
                    // border: px solid red !important;
                    border-radius: 0 !important;
                }
                &::placeholder {
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }

    .dataTables_paginate {
        .paginate_button {
            border: 1px solid #edf1f7 !important;
            margin-left: -1px !important;
            font-size: 14px;
            // font-weight: 700;
            color: #3366ff !important;
            border-radius: 0 !important;

            &:hover {
                background: transparent !important;
                color: #3366ff !important;
            }
            &:active {
                border: 1px solid #edf1f7 !important;
                background: none !important;
                box-shadow: none !important;
            }

            &.current,
            &.current:hover {
                background: #3366ff !important;
                color: white !important;
            }
        }
    }
    .dataTables_info,
    .dataTables_length {
        font-size: 15px !important;
        font-weight: 700;
        color: #0f1535 !important;
    }

    .dataTables_length select {
        font-size: 15px !important;
        font-weight: 700;
        color: #0f1535 !important;
        margin: 0 5px;
        border-radius: 2px;
    }
}
//#endregion

//#region DROPDOWN
.dropdown {
    button {
        height: 20px;
        padding: 0px;
        color: #222b45 !important;

        svg {
            margin-top: -6px;
        }

        &:active,
        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
        min-width: 10rem;
        max-width: 15rem;
        border-radius: 0.25rem;
        text-align: center;
        padding: 0;
        margin: 0;

        button {
            color: #222b45 !important;
            font-size: 0.8125rem;
            font-weight: 600;
            line-height: 1.5rem;
            padding: 0.75rem 1rem !important;
            width: calc(100% - 1.5rem);
            border-bottom: 1px solid #edf1f7;
            transition: all 0.2s;
            &:hover {
                color: #598bff;
            }
        }

        button:last-child {
            border-bottom: none;
        }
    }
}
//#endregion
