<!-- Modal VER PROVEEDOR -->

<div class="row">
    <nb-list>

        <!-- Codigo -->
        <nb-list-item>
            <div class="col-4">
                <strong>Código:</strong>
            </div>
            <div class="col-7">{{proveedor.Codigo}}</div>
        </nb-list-item>

        <!-- Nombre -->
        <nb-list-item>
            <div class="col-4">
                <strong>Nombre:</strong>
            </div>
            <div class="col-7">{{proveedor.Nombre}}</div>
        </nb-list-item>


        <!-- Teléfono -->
        <nb-list-item>
            <div class="col-4">
                <strong>Teléfono:</strong>
            </div>
            <div class="col-7">{{proveedor.Telefono}}</div>
        </nb-list-item>


        <!-- Dirección -->
        <nb-list-item>
            <div class="col-4">
                <strong>Dirección:</strong>
            </div>
            <div class="col-7">{{proveedor.Direccion}}</div>
        </nb-list-item>


        <!-- RUT -->
        <nb-list-item>
            <div class="col-4">
                <strong>RUT:</strong>
            </div>
            <div class="col-7">{{proveedor.Rut}}</div>
        </nb-list-item>


        <!-- Razon Social -->
        <nb-list-item>
            <div class="col-4">
                <strong>Razon social:</strong>
            </div>
            <div class="col-7">{{proveedor.RazonSocial}}</div>
        </nb-list-item>

    </nb-list>
</div>