<div class="caja">
    <ul class="seccion animate__animated animate__slideInLeft  animate__delay-01s">
        <li class="item" [ngClass]="{'activo': NuevaVenta}">
            <fa-icon [icon]="faCartPlus" class="mr-2"></fa-icon>
            <span>Nueva venta</span>
        </li>
    </ul>
    
    <div class="divisor"></div>

    <ul class="seccion">
        <li class="item animate__animated animate__slideInLeft animate__delay-02s" [ngClass]="{'activo': Proveedores}" [routerLink]="['proveedores', 'lista']">
            <fa-icon [icon]="faTruck" class="mr-2"></fa-icon>
            <span>Proveedores</span>
        </li>
        <li class="item animate__animated animate__slideInLeft animate__delay-03s" [ngClass]="{'activo': Clientes}">
            <fa-icon [icon]="faUserFriends" class="mr-2"></fa-icon>
            <span>Clientes</span>
        </li>
    </ul>

</div>