<!-- Modal EDITAR PROVEEDOR -->
<ng-template #editProveedorTpl let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header class="d-flex justify-content-between">

            <span> Editar proveedor </span>
            <a (click)="ref.close()" class="cerrar">
                <nb-icon icon="close-circle-outline" pack="eva"></nb-icon>
            </a>

        </nb-card-header>
        <nb-card-body>
            <div class="p-5">
                <div class="col-7">

                    <app-proveedor-form [proveedor]="data"></app-proveedor-form>

                </div>

            </div>
        </nb-card-body>
    </nb-card>
</ng-template>



<!-- TABLA -->
<nb-card>
    <nb-card-header>
        Lista de proveedores
    </nb-card-header>

    <nb-card-body>

        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>RUT</th>
                    <th>Razon social</th>
                    <th></th>
                </tr>
            </thead>

            <tfoot style="display: table-header-group" class="filtros">
                <tr>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR CODIGO ..." /></th>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR NOMBRE ..." /></th>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR TELEFONO ..." /></th>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR DIRECCION ..." /></th>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR RUT ..." /></th>
                    <th><input class="form-control" type="search" placeholder="BUSCAR POR RAZON SOCIAL ..." /></th>
                    <th></th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>

    </nb-card-body>
</nb-card>