<div class="pantalla">
    <h2>Nuevo proveedor</h2>

    <form>
        <div class="row">

            <div class="col-4 mb-3">
                <div class="campo">
                    <label>Nombre</label>
                    <div class="input-group">
                        <input type="text" class="control" placeholder="Nombre ...">
                    </div>
                </div>
            </div>
            <div class="col-2 mb-3">
                <div class="campo">
                    <label>Código</label>
                    <div class="input-group">
                        <input type="text" class="control" placeholder="Código ...">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-3">
                <div class="campo">
                    <label>Teléfono</label>
                    <div class="input-group">
                        <input type="text" class="control" placeholder="Teléfono ...">
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="campo">
                    <label>Dirección</label>
                    <div class="input-group">
                        <input type="text" class="control" placeholder="Dirección ...">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>