<div class="barraSuperior">
    <div class="zonaTitulo ">
        <fa-icon [icon]="faArrowLeft" class="mr-2"></fa-icon>
        <span class="">Proveedores</span>
    </div>
</div>

<div class="barraInferior">
    <ul class="subMenu horizontal">

        <!-- animate__slideInDown -->
        <li *ngFor="let boton of Botones" class="item animate__animated" [ngClass]="{'activo': boton.Activo}" [routerLink]="boton.Url">
            <fa-icon [icon]="boton.Icono" class="mr-2"></fa-icon>
            <span>{{boton.Texto}}</span>
        </li>

    </ul>
</div>