<div class="barraSuperior">
    <div class="zonaTitulo ">
        <fa-icon [icon]="faArrowLeft" class="mr-2"></fa-icon>
        <span class="">Proveedores</span>
    </div>
</div>

<div class="barraInferior">
    <ul class="subMenu horizontal">
        <li class="item activo animate__animated animate__slideInDown ">
            <fa-icon [icon]="faList" class="mr-2"></fa-icon>
            <span>Listas</span>
        </li>
        <li class="item animate__animated animate__slideInDown animate__delay-01s">
            <!-- <i class="far fa-plus-square mr-2"></i> -->
            <fa-icon [icon]="faPlusSquare" class="mr-2"></fa-icon>
            <span>Nuevo</span>
        </li>
    </ul>
</div>